<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <h1>Routes:</h1>

    <ul>
        <li><b>/funkcionalnosti-odjemalca/</b> - vrne dokument HTML, ki opredeli nabor funkcionalnosti, ki jih bo vaša
            mobilna aplikacija zagotavljala. Vsako funkcionalnost na kratko opišite (kaj omogoča, kaj so vhodi in
            izhodi, ...). Za boljši vpogled v nabor funkcionalnosti izdelate tudi UML diagram primerov uporabe, ki bo
            prikazal funkcionalnosti, vloge uporabnikov itd. Sliko diagrama vključite v dokument HTML.</li>
        <li><b>/posebnosti/</b> - vrne tekst, ki opredeli tehnične zahteve, povezane z implementacijo posameznih
            funkcionalnosti. Definirajte, če boste za implementacijo določenih funkcionalnosti potrebovali specifične
            tehnologije, oz. če bo morala mobilna naprava za polno delovanje obvezno zagotavljati katerega od senzorjev.</li>
        <li><b>/podatkovni-model/</b> - vrne dokument HTML, ki opisuje podatkovni model. Definirajte glavne podatkovne
            entitete, njihove atribute, relacije med entitetami, itd. Opredelite, kateri podatki morajo biti na voljo
            vedno na napravi, kateri so na voljo samo na strežniku in katere podatke bo potrebno sinhronizirati s
            strežniškim delom (ter kdaj: vedno, samo ob določenih rokih, ...). Izdelajte tudi ER diagram, sliko pa
            vključite v dokument HTML.</li>
        <li><b>/REST/</b> – vrne tekst, ki opredeli nabor storitev REST in metod, ki jih te storitve morajo omogočati,
            da boste podprli delovanje hibridne mobilne aplikacije.</li>
        <li><b>/funkcionalnosti-streznika/</b> - vrne dokument HTML, ki opredeli celoviti nabor funkcionalnosti, ki jih
            bo strežnik zagotavljal. Vsako funkcionalnost na kratko opišite (kaj omogoča, kaj so vhodi, kaj so izhodi,
            ...). Prav tako izdelate UML diagram primerov uporabe, ki bo pokazal funkcionalnosti strežnika, vloge
            uporabnikov, kdo kaj uporablja itd. Sliko diagrama vključite v dokument HTML.</li>
        <li><b>/posebnosti/</b> - vrne tekst, ki opredeli tehnične zahteve, povezane z implementacijo strežnika.</li>
    </ul>

</body>

</html>